<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Confirmation Form</title>
    <link rel="icon" href="../public/img/image-2.png" type="image">
    <link rel="stylesheet" type="text/css" href="../public/css/style3.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <div class="navbarr">
        <img class="charusat-logo" src="/public/img/image-2.png" />
        <div class="Home-nav">
            <a href="/student-dashboard">
                <img src="../public/img/home.png" alt="Home">
            </a>
        </div>
    </div>

    <div class="container">
        <h2>Internship Completion Certificate</h2>
        <form action="/certification/upload-certificate/<%= studentId %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="certificate">Upload Certificate:</label>
                <input type="file" class="form-control-file" id="certificate" name="certificate" accept=".pdf">
            </div>
            <button type="submit" class="btn btn-primary">Upload Certificate</button>
        </form>
    </div>
</body>

</html>
