<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/style2.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="/public/scripts/script.js"></script>
</head>

<body>
    <div class="navbarr">
        <img class="charusat-logo" src="/public/img/charusat-logo.png" />
    </div>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="/assets/download.png" alt="">
                        <span class="nav-item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="main">

            <div class="main-skills">
                <div class="card">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Conformation Page</h3>
                    <!-- <button>Click Here</button> -->
                    <button type="button" class="button-solid" onclick="Confirmation()">Click Here</button>
                </div>
                <div class="card">
                    <i class="fab fa-wordpress"></i>
                    <h3>XYZ</h3>
                    <button>Click Here</button>
                </div>

            </div>
        </section>
    </div>
</body>

</html>
