/* FILEPATH: /D:/Sgp Project 5th sem/Internship Management Portal/css/style4.css */


/* Style for the table */

body {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    /* Styles for screens with a width of 768px or less */
    .navbarr {
        width: 100%;
        /* Adjust the width for smaller screens */
    }
    /* Add more styles specific to smaller screens as needed */
}

.navbarr {
    width: 100%;
    height: 50px;
    background: #16629E;
}

.navbarr .Home-nav {
    color: rgb(9, 10, 10);
    float: right;
    padding: 15px 10px 15px;
    border: 15%;
    display: block;
    margin-right: 25px;
    text-align: left;
    background-color: aliceblue;
}

.navbarr .charusat-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1px;
    left: 25px;
    object-fit: cover;
}

.div .seach-bar {
    top: 5px;
    right: 0;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}


/* Style for the table header */

th {
    background-color: #16629E;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}


/* Style for the table data */

td {
    border: 1px solid #ddd;
    padding: 8px;
}


/* Style for the table data links */

a {
    text-decoration: none;
    color: #16629E;
}


/* Style for the table data links on hover */

a:hover {
    text-decoration: underline;
}


/* Style for the table data with status "Pending" */

td:nth-child(4):contains("Pending") {
    color: orange;
}


/* Style for the table data with status "Approved" */

td:nth-child(4):contains("Approved") {
    color: green;
}


/* FILEPATH: /D:/Sgp Project 5th sem/Internship Management Portal/css/style4.css */


/* Style for the download button section (top right corner) */

.download-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #16629E;
}

.download-section form {
    display: flex;
    align-items: center;
}

.download-section label {
    color: white;
    margin-right: 10px;
}

.download-section select {
    margin-right: 10px;
}

.download-section button {
    background-color: #16629E;
    color: white;
    border: none;
    cursor: pointer;
}


/* Style for the table */

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;
    /* Adjust the margin to create space for the download button */
}


/* ... (rest of your CSS styles) */