<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Dashboard</title>
    <link rel="icon" type="image/png" href="../public/img/favicon.jpg" >
    <link rel="stylesheet" type="text/css" href="/public/css/style6.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="/public/scripts/script.js"></script>
</head>

<body>
    <div class="navbarr">
        <img class="charusat-logo" src="../public/img/image-2.png" />
    </div>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="/public/img/user-icon.png" alt="">
                        <span class="nav-item"><%=username%></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/analytics">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Analytics</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fas fa-cog"></i>
                        <span class="nav-item">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="/" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item" onclick="alertMessage()">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="main">
            <div class="main-top">
                <h1>Home</h1>
                <i class="fas fa-user-cog"></i>
            </div>
            <div class="main-skills">
                <div class="card">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Register Faculty</h3>
                    <button type="button" class="button-solid" onclick="RegisterFaculty()">Click Here</button>
                </div>
                <div class="card">
                    <i class="fab fa-wordpress"></i>
                    <h3>Manage Requests</h3>
                    <button type="button" class="button-solid" onclick="Approval()">Click Here</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
