<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internship Confirmation Form</title>
    <link rel="icon" href="../public/img/favicon.jpg" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../public/css/style3.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="navbarr">
      <img class="charusat-logo" src="/public/img/image-2.png" />
      <div class="Home-nav">
        <a href="/student-dashboard">
          <img src="../public/img/home.png" alt="Home" />
        </a>
      </div>
    </div>

    <div class="container">
      <h2>Confirmation Form</h2>
      <form action="/form" method="post">
        <div class="form-group">
          <label for="StudentID">Student ID:</label>
          <input
            type="text"
            id="studentID"
            name="studentID"
            maxlength="7"
            pattern="^\d{2}[cC][eE]\d{3}$"
            style="text-transform: uppercase"
            placeholder="Eg. 21CE001"
            autofocus
            required
          />
        </div>

        <div class="form-group">
          <label for="StudentName">Student Name:</label>
          <input
            type="text"
            id="StudentName"
            name="StudentName"
            style="text-transform: uppercase"
            required
          />
        </div>

        <div class="form-group">
          <label for="semester">Semester:</label>
          <select id="semester" name="semester" required>
            <option value="">Select Semester</option>
            <option value="Semester 4">Semester 4</option>
            <option value="Semester 6">Semester 6</option>
          </select>
        </div>

        <div class="form-group">
          <label for="CompanyName">Name of Company:</label>
          <input type="text" id="CompanyName" name="CompanyName" required />
        </div>

        <div class="form-group">
          <label for="CompanyAddress">Address of Company:</label>
          <input
            type="text"
            id="CompanyAddress"
            name="CompanyAddress"
            required
          />
        </div>

        <div class="form-group">
          <label for="Counsellor_InternalGuide">HR Details:</label>
          <input
            type="text"
            id="Counsellor_InternalGuide"
            name="Counsellor_InternalGuide"
            required
          />
        </div>

        <div class="form-group">
          <label for="HRphonenumber">HR Contact Number:</label>
          <input type="text" id="HRphonenumber" name="HRphonenumber" required />
        </div>

        <div class="form-group-duration">
          <label for="duration">Duration :</label>
          <input
            type="number"
            id="duration"
            name="duration"
            placeholder="months"
            readonly
          />
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" />
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" />
        </div>

        <div class="form-group-noc">
          <label for="TypeofInternship">Type of Internship:</label>
          <input
            type="radio"
            id="TypeofInternship_InCompany"
            name="TypeofInternship"
            value="In company"
            required
          />
          <label for="TypeofInternship_InCompany">In company</label>
          <input
            type="radio"
            id="TypeofInternship_InHouse"
            name="TypeofInternship"
            value="In house"
          />
          <label for="TypeofInternship_InHouse">In house</label>
        </div>
        <br />
        <div class="form-group">
          <label for="ProjectTitle">Project Title:</label>
          <input type="text" id="ProjectTitle" name="ProjectTitle" required />
        </div>

        <div class="form-group">
          <label for="ToolsandTechnology">Tools and Technology:</label>
          <input
            type="text"
            id="ToolsandTechnology"
            name="ToolsandTechnology"
            required
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
    <script>
      $(document).ready(function () {
        $('#startDate, #endDate').on('change', function () {
          var startDate = new Date($('#startDate').val());
          var endDate = new Date($('#endDate').val());
          if (startDate && endDate && startDate <= endDate) {
            var diffMonths =
              (endDate.getFullYear() - startDate.getFullYear()) * 12;
            diffMonths -= startDate.getMonth();
            diffMonths += endDate.getMonth();
            $('#duration').val(diffMonths);
          } else {
            $('#duration').val('');
          }
        });
      });
    </script>
  </body>
</html>
