<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Internship Portal</title>
    <link rel="icon" type="image/png" href="../public/img/favicon.jpg" >
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <script src="/public/scripts/script.js"></script>
</head>

<body>
    <div class="container">
    <div class="desktop">
        <div class="div">
            <div class="overlap-group">
                <h1 class="text-wrapper">Summer Internship Portal</h1>
                <img class="image" alt="Image" src="../public/img/charusat.svg" />
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <img class="img" alt="Image" src="/public/img/image-3.png" />
                    <form action="/login" method="post">
                        <input class="text-wrapper-3" type="text" id="username" name="username"
                            placeholder="Enter your username or email" autocomplete="username" required>
                        <input class="text-wrapper-2" type="password" id="password" name="password"
                            placeholder="Enter your password" autocomplete="password" required>
                        <img class="image-2" alt="Image" src="/public/img/image-4.png" />
                        
                    </div>
                    
                    <div class="div-wrapper">
                        <button type="submit" class="button-solid">Login</button>
                    </div>
                </div>
            </form>
            <div class="overlap-2">
                <p class="p">For support, please contact C.S.Patel Institute of Technology</p>
                <img class="image-3" alt="Image" src="/public/img/image-5.png" />
                <div class="text-wrapper-5">info@charusat.ac.in</div>
                <img class="image-4" alt="Image" src="/public/img/image-6.png" />
                <div class="text-wrapper-6">02697-265011</div>
            </div>
            <p class="all-rights-reserved">
                <span class="span">All Rights Reserved by </span>
                <span class="text-wrapper-7">Dr. Sneha Padhiar</span>
            </p>
        </div>
    </div>
    </div>
</body>

</html>
