<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student-Dashboard</title>
    <link rel="icon" href="../public/img/favicon.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="/public/css/style6.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="/public/scripts/script.js"></script>
</head>

<body>
    <div class="navbarr">
        <img class="charusat-logo" src="../public/img/image-2.png" />
    </div>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="/public/img/user-icon.png" alt="">
                        <span class="nav-item">Student</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li> -->
                <li>
                    <a href="">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span>
                    </a>
                </li>

                <!-- <li>
                    <a href="">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Analytics</span>
                    </a>
                </li> -->

                <li>
                    <a href="">
                        <i class="fas fa-cog"></i>
                        <span class="nav-item">Settings</span>
                    </a>
                </li>


                <li>
                    <a href="/" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="main">
            <div class="main-top">
                <h1>Home</h1>
                
                <i class="fas fa-user-cog"></i>
            </div>

            <div class="main-skills">
                <div class="card">
                    <i class="fab fa-wpforms"></i>
                    <h3>Approval Form</h3>
                    <button type="button" class="button-solid" onclick="approval_form()">Click Here</button>
                    
                </div>
                <div class="card">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Confirmation Form</h3>
                    <!-- <button>Click Here</button> -->
                    <button type="button" class="button-solid" onclick="Confirmation()">Click Here</button>
                </div>
                <div class="card">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Completion Certificate</h3>
                    <!-- <button>Click Here</button> -->
                    <button type="button" class="button-solid" onclick="certification()">Click Here</button>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
