body {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

@media screen and (max-width: 768px) {
    .navbarr {
        width: 100%;
    }
}

.navbarr .Home-nav {
    color: rgb(211, 216, 216);
    float: right;
    padding: 15px 10px 15px;
    border: 15%;
    display: block;
    margin-right: 25px;
    text-align: left;
    background-color: transparent;
}

.navbarr {
    width: 100%;
    height: 50px;
    background: #16629E;
}


.navbarr .charusat-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    object-fit: cover;
}
.container {
    max-width: 500px;
    max-block-size: 100%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-weight: bold;
    text-align: center;
}
h1{
    text-align: center;
}

input[id="username"],
select label {
    width: 40%;
    padding: 09px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
input[id="password"],
select label {
    width: 40%;
    padding: 09px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
select[id="role"],
select label {
    width: 45%;
    padding: 09px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: 55px;
}
.main {
    position: relative;
    padding: 30px;
    width: 100%;
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}