@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100%;
  background: #e3f2fd;
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #16629e;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon::before {
  color: #000000;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #fffbfb;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.open .sidebar {
  left: 0;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color: #16629e;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.main {
  position: flex;
  padding: 50px;
  width: 200%;
}

.main-top {
  display: flex;
  width: 300%;
}

.main-top i {
  position: flex;
  right: 0;
  margin: 10px 30px;
  color: rgb(255, 30, 30);
  cursor: pointer;
}

.main-skills {
  display: flex;
  margin-top: 15px;
}

.main-skills .card {
  width: 30%;
  margin: 25px;
  height: 50%;
  flex-shrink: 0;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.main-skills .card h3 {
  margin: 10px;
  margin-top: 5px;
  text-transform: capitalize;
  text-align: left;
  padding-left: 2.5%;
}

.main-skills .card p {
  font-size: 32px;
}

.main-skills .card button {
  background: #16629e;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: -55%;
  cursor: pointer;
}

.main-skills .card button:hover {
  background: rgba(10, 20, 161, 0.856);
}

.main-skills .card i {
  font-size: 25px;
  padding: 15px;
}

/* Courses */

.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box {
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box .course {
  display: flex;
}

.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p {
  font-size: 12px;
  margin-top: 5px;
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}

.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.html {
  color: rgb(25, 94, 54);
}

.css {
  color: rgb(104, 179, 35);
}

.js {
  color: rgb(28, 98, 179);
}
